<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="win.whitelife.ui">

    <application>
        <activity android:name="win.whitelife.ui.mainpage.MainActivity"/>
        <activity android:name="win.whitelife.ui.record.RecordActivity"/>
        <activity android:name="win.whitelife.ui.search.SearchActivity"/>
        <service android:name="win.whitelife.record.VoiceService"></service>
    </application>

</manifest>


